{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }}{% trans %} - Actualités / Blog{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="aPropos">
            <h1>{% trans %}Actualités<br>Blog{% endtrans %}</h1>
            <div class="row">
                <p style=" margin-bottom: 56px; font-size: 145%;text-align: justify; font-weight: 500;
    text-transform: uppercase; color: #7cc4cc;">{% trans %}Retrouvez ici toutes nos
                    actualités, nos évenements, nos petits moments partagés... {% endtrans %}</p>
            </div>
        </div>
    </div>
    <div class="container">
    {% if listArticles is not empty %}
        <div>
            <div class="row">
                {% for article in listArticles %}
                {% if loop.index0 % 2 == 0 %}
            </div>
            <div class="row">
                {% endif %}

                <div class="col-lg-1 col-xs-12">
                    {{ article.dateEvenement |date('d/m/Y') }}
                </div>
                <div class="col-lg-11 col-xs-12" style="border-left: solid 1px #e4551d; margin-bottom: 40px;">

                    <h3>{{ article.title }}</h3>
                    <img src="{{ asset('upload/blog/' ~ article.file) }}" alt="" width="180" height="200"
                         style="float: left; margin-right: 10px;">
                    <p>{{ article.content|striptags| truncate(300) | raw }}</p>
                    <p><a href="{{ path('actualite', {id: article.id}) }}" style="float: right;">{% trans %}Lire la
                            suite...{% endtrans %}</a></p>

                </div>

                {% endfor %}
            </div><!-- row -->
        </div>
        {% include 'pagination.html.twig' %}
    {% else %}
        <p class="aucun">{% trans %}Il n'y a aucune actualitée pour l'instant.{% endtrans %}</p>
    {% endif %}
    </div>
{% endblock %}